<h1>New restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, :collection => ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.submit "Submit restaurant", class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to "Home", restaurants_path(@restaurants), class: "btn btn-primary" %>
